<form action="/quizzes" method="post" accept-charset="UTF-8">
	<div>
    <label for="title">Enter title</label>
    <input id="title" name="title" type="text" />
</div>
<div>
    <label for="status">Select Status</label>
    <select name="status" id="status">
        <option value="live">Live</option>
        <option value="completed">completed</option>
        <option value="unpublished">unpublished</option>
    </select>
</div>
<div>
    <label for="question_id">select question </label>
    <input id="no_of_questions" name="no_of_questions" type="number" />
</div>

    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div> <input name="commit" type="submit" value="Create Quiz" data-disable-with="Enroll" /></div>
   
</form>
<style>
div{
  margin:  10px;
}
</style>