<form action="/quizzes" method="post" accept-charset="UTF-8">
	<% unless @ques_ans.blank? %>
	<% @ques_ans.each do |question| %>
	<div>
    <div>
    	<%= question[:body]%>
    </div>
</div>
<% unless question[:answers].blank? %>
 <label for="answer">Select Answer</label>
    <select name="answer" id="answer">
<% question[:answers].each do |ans| %>
<div>
   
        <option value="<%= ans[:id]%>"><%= ans["body"]%></option>

</div>
<% end %>
    </select>
   <% end %>
   <% end %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div> <input name="commit" type="submit" value="Submit Quiz" data-disable-with="Enroll" /></div>
   <% end %>
</form>
<style>
div{
  margin:  10px;
}
</style>