<form action="/users" method="post" accept-charset="UTF-8" >
    <label for="username">Enter user name</label>
    <input id="name" name="name" type="text" />
    <label for="email">Enter email</label>
    <input id="email" name="email" type="text" />
    <label for="phone_number">Enter user name</label>
    <input id="phone_num" name="phone_num" type="number" />
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input name="commit" type="submit" value="Enroll" data-disable-with="Enroll" />
</form>